*,
*:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: 2rem auto;
}

.form {
    background-color: #ccc;
    width: 100%;
    padding: 1rem;
  
}

.form-label {
    width: 100%;
    display: block;
}

.form-group {
    overflow: hidden;
}

.form-control {
    width: 100%;
}

.form-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}